In [27]:
#Snowflake
from sqlalchemy import create_engine, sql
from snowflake.sqlalchemy import URL

#Librairies
from os import environ
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pandas_profiling import ProfileReport

In [18]:
url = URL(
    account = environ.get('SNOWFLAKE_ACCOUNT'),
    user = environ.get('SNOWFLAKE_USER'),
    password = environ.get('SNOWFLAKE_PWD'),
    database = 'production',
    schema = 'common',
    warehouse = environ.get('SNOWFLAKE_WH'),
    role = environ.get('SNOWFLAKE_ROLE'),
)

In [30]:
qstr = '''
    select * from common.occupancies_past_and_future_daily_enriched limit 1000
'''

In [44]:
engine_snowflake = create_engine(url)
connection = engine_snowflake.connect()
try:
    df = pd.read_sql(
        qstr, 
        engine_snowflake
        
    )
    # You can directly cast the date columns as dates by adding in 
    # pd.read_sql_query the arg parse_dates=['name_column_date1','name_column_date2']
finally:
    connection.close()
    engine_snowflake.dispose()

In [45]:
df.head()

,car_id,owner_id,is_future,date,postal_code,country,category,is_open,instant_bookable,rental_capacity,...,owner_revenue_without_ext_insurance_local,getaround_revenue_local,insurer_revenue_local,assistance_revenue_local,owner_net_otv_revenue_local,owner_external_insurance_revenue_local,owner_gtv_revenue_local,owner_option_revenue_local,owner_extra_fee_revenue_local,owner_extra_km_revenue_local
0,527335,2848007,False,2019-09-13,56700,FR,1,False,False,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,463008,2580123,False,2020-05-09,28000,FR,2,False,False,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,361956,1435641,False,2021-04-16,08290,ES,1,False,False,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,384257,1671293,False,2019-12-27,92120,FR,2,False,False,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,580017,2634763,True,2022-08-31,75019,FR,1,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df2 = df[(df["is_open"] == True) &(df['is_future']==False)]

In [52]:
df2

,car_id,owner_id,is_future,date,postal_code,country,category,is_open,instant_bookable,rental_capacity,...,owner_revenue_without_ext_insurance_local,getaround_revenue_local,insurer_revenue_local,assistance_revenue_local,owner_net_otv_revenue_local,owner_external_insurance_revenue_local,owner_gtv_revenue_local,owner_option_revenue_local,owner_extra_fee_revenue_local,owner_extra_km_revenue_local
8,490108,647036,False,2021-08-17,01130,FR,1,True,True,1.0,...,34.8370,15.374000,3.248000,1.5950,34.522,7.691,42.213,0.0,0.3150,0.0000
18,863060,1578683,False,2021-12-15,35400,FR,1,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,562416,2108036,False,2020-04-03,75013,FR,2,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,587124,2971640,False,2020-04-01,77700,FR,1,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,617384,3155603,False,2020-07-05,08030,ES,2,True,True,1.0,...,35.5000,17.883333,12.056667,1.5600,35.500,0.000,35.500,0.0,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,198264,1219142,False,2018-05-29,75005,FR,1,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,435297,1288062,False,2019-04-08,75015,FR,1,True,True,1.0,...,32.5100,14.020000,9.410000,1.4600,22.910,0.000,22.910,0.0,9.6000,9.6000
960,570606,3032392,False,2019-11-12,69200,FR,2,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,699110,878758,False,2021-04-10,75020,FR,1,True,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,625152,720825,False,2021-11-02,75014,FR,2,True,True,1.0,...,32.4192,21.171200,7.606400,0.8864,22.320,0.000,22.320,0.0,10.0992,10.0992

In [53]:
qstr2 = '''
    select * from common.cars limit 1000
'''

In [54]:
engine_snowflake = create_engine(url)
connection = engine_snowflake.connect()
try:
    cars = pd.read_sql(
        qstr2, 
        engine_snowflake
        
    )
finally:
    connection.close()
    engine_snowflake.dispose()

In [63]:
for i in [cars.columns]:
    print(i)

Index(['id', 'state', 'latest_event', 'previous_state', 'user_id',
       'nabobil_car_id', 'parent_car_id', 'registration_country', 'category',
       'overridden_category',
       ...
       'last_instant_booking_deactivation', 'activated_at', 'completed_at',
       'validated_at', 'deleted_at', 'postal_code', 'city_id',
       'car_agglomeration', 'car_city_from_cities_mapping', 'car_city_tiers'],
      dtype='object', length=227)

In [64]:
cars['mileage']

0      2
1      3
2      4
3      4
4      5
      ..
995    2
996    5
997    4
998    5
999    6
Name: mileage, Length: 1000, dtype: int64

In [56]:
qstr3 = '''
    select * from common.rentals limit 1000
'''

In [57]:
engine_snowflake = create_engine(url)
connection = engine_snowflake.connect()
try:
    rentals = pd.read_sql(
        qstr3, 
        engine_snowflake
        
    )
finally:
    connection.close()
    engine_snowflake.dispose()

In [58]:
rentals

,id,state,owner_id,driver_id,car_id,registration_country,distance,adjusted_distance_driven,mileage_package_distance,created_at,...,checkout_mileage,driver_origin,driver_type,is_over_weekend,weekend_or_weekday,distance_driven,distance_driven_km,distance_included_mileage,distance_extra_km,distance_included_mileage_at_booking
0,605334,owner_pre_approved_canceled_driver,266398,234149,41875,FR,100,null,NaN,2014-07-18 16:41:24,...,NaN,None,Returning,1,weekday_and_weekend,NaN,NaN,NaN,NaN,100.0
1,1009116,owner_pre_approved_canceled_owner,208244,425939,67596,FR,2000,null,NaN,2015-03-25 14:02:09,...,NaN,None,New,1,weekday_and_weekend,NaN,NaN,NaN,NaN,2000.0
2,5336848,ended,2275850,2081328,392992,FR,400,null,NaN,2020-02-21 14:54:55,...,128307.0,not local,Returning,1,weekday_and_weekend,338.0,338.0,NaN,0.0,400.0
3,3289028,owner_pre_approved_expired,1004178,514849,164742,FR,400,null,NaN,2016-08-03 12:49:00,...,NaN,None,Returning,1,weekday_and_weekend,NaN,NaN,NaN,NaN,400.0
4,5549769,ended,1578683,2593418,706207,FR,451,null,NaN,2020-07-17 08:21:34,...,1421.0,local,Returning,0,weekday_only,451.0,451.0,NaN,251.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2924400,requested_expired,788359,1029968,143579,ES,3000,null,NaN,2016-06-21 20:13:12,...,NaN,None,New,1,weekday_and_weekend,NaN,NaN,NaN,NaN,3000.0
996,133372,ended,53040,80335,8729,FR,200,null,NaN,2013-02-14 13:06:05,...,NaN,None,New,0,weekday_only,NaN,NaN,NaN,NaN,NaN
997,5151791,ended,2552116,2543362,591875,FR,200,null,NaN,2019-11-16 20:28:33,...,3598.0,local,Returning,1,weekend_only,136.0,136.0,NaN,0.0,200.0
998,2536519,owner_pre_approved_canceled_owner,128367,924782,68536,FR,700,null,NaN,2016-04-08 15:49:30,...,NaN,None,New,1,weekday_and_weekend,NaN,NaN,NaN,NaN,700.0
999,2969940,requested_pre_declined_owner,196572,1043248,29507,FR,700,null,NaN,2016-06-27 14:54:15,...,NaN,None,New,1,weekday_and_weekend,NaN,NaN,NaN,NaN,700.0